<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>Musilux</title>
    <link rel="stylesheet" type="text/css" href="{% static 'musilux/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- loads jquery a csrf token, bootstrap (just in case, plan on using later)  -->
    <script
          src="http://code.jquery.com/jquery-3.2.1.js"
          integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous"></script>
    <script src="{% static 'musilux/js/csrf.js' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


</head>

    <body>
    <!--    {%  if messages %} -->
    <ul class="messages">
        {%  for message in messages %}
        {%  if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    -->

    {# mainbox contains all boxes #}
    <div id="mainbox">
        <h2 id="banner">Welcome to</h2>
        <ul id="musilux"></ul>

        <!-- tODo: get lights connected to the midi file
        <!--  box container for lights and piano image -->
        <div id="container">
            <!--  box for lights -->
            <div id="lights">
                <!--  I think I need here the 88 divisions <i>infra</i> -->

            </div>
            <!--  box for piano image -->
            <div id="piano">
               <img src="{% static 'musilux/img/piano.jpg' %}">
            </div>
        </div>

        <!-- used div instead of select because the form didn't display properly -->
        <!-- also bootstrap dropdown menu -->
        <div id="songlist">
                <select autofocus class="btn btn-default dropdown-toggle" id="songselect">
                    <option>Please select song</option>
                    {% for song in songs %}
                        <option data-songpk="{{ song.pk }}">{{ song.title }}</option>
                    {% endfor %}
                </select>
        </div>

        <!-- play button to start the show -->
        <div>
            <button id="play">Play</button><br>
        </div>
{#        <div id="choiceboxes"> <!-- Data for song after choice has been made -->#}
{#        <div id="choiceinfo">#}
{#              {% for song in songs %}#}
{#                {{ song.performer }}<br>#}
{#                {{ song.composer }}<br>#}
{#                {{ song.year_c }}<br>#}
{#                {{ song.description }}<br>#}
{#              {%  endfor %}#}
{#            </div>#}
{#            <div> <!-- todo <img src="{% static 'musilux/img/' %}" --></div>#}
{#            <div>#}
{#              {% for song in songs %}#}
{#                {{ song.comments }}<br>#}
{#              {% endfor %}#}
{#            </div>#}
{#        </div> //-->#}

        <footer id="bottom">
            <p>Programmed by Aquatiger <img src="{% static 'musilux/img/aquatigermini.jpg' %}"
                                            alt="Unavailable" height="30" width="40"> 2017</p>
        </footer>
    </div>

    <script src="{% static 'musilux/js/MidiConvert.js' %}" ></script>
    <script src="{% static 'musilux/js/scripts.js' %}" ></script>

    </body>

</html>

<!-- todo: not sure where to put this note, so here: midi starts numbering at 21, ends at 108 -->

<!-- Not sure if I need this but here it is:
        files 'midi notes.gif' and 'midi notes.odt'
        midi number
        ids are notes notation of possible notes
        notes are capitalized
        # is a sharp
        b is a flat
        ds is double sharp
        df is double flat
        if the B is B1 is that C flat 1 or C flat 2, likewise is C1 B sharp 0 or B sharp 1?

        21
        <div id=”A0"></div>
        <div id=”Bdf0"></div>

        22
        <div id=”A#0"></div>
        <div id=”Bb0"></div>

        23
        <div id=”B0"></div>
        <div id=”Ads0"></div>
        <div id=”Cb0"></div>

        24
        <div id=”C1"></div>
        <div id=”B#1“></div>
        <div id=”Ddf1“></div>


        25
        <div id=”C#1“></div>
        <div id=”Db“></div>

        26
        <div id=”D1“></div>
        <div id=”Cds1“></div>
        <div id=”Edf1“></div>

        27
        <div id=”D#1“></div>
        <div id=”Eb1“></div>

        28
        <div id=”E1“></div>
        <div id=”Dds1“></div>
        <div id=”Fb1“></div>

        29
        <div id=”F1“></div>
        <div id=”E#1“></div>
        <div id=”Gdf1“></div>
        30
        <div id=”F#1“></div>
        <div id=”Gb1“></div>

        31
        <div id=”G1“></div>
        <div id=”Fds1“></div>
        <div id=”Adf1“></div>

        32
        <div id=”G#1“></div>
        <div id=”Ab1“></div>

        33
        <div id=”A1“></div>
        <div id=”Gds1“></div>
        <div id=”Bdf1“></div>

        34
        <div id=”A#1“></div>
        <div id=”Bb1“></div>

        35
        <div id=”B1“></div>
        <div id=”Ads1“></div>
        <div id=”Cb1“></div>

        36
        <div id=”C2"></div>
        <div id=”B#2“></div>
        <div id=”Ddf2“></div>


        37
        <div id=”C#2“></div>
        <div id=”Db“></div>

        38
        <div id=”D2“></div>
        <div id=”Cds2“></div>
        <div id=”Edf2“></div>

        39
        <div id=”D#2“></div>
        <div id=”Eb2“></div>

        40
        <div id=”E2“></div>
        <div id=”Dds2“></div>
        <div id=”Fb2“></div>
        41
        <div id=”F2“></div>
        <div id=”E#2“></div>
        <div id=”Gdf2“></div>

        42
        <div id=”F#2“></div>
        <div id=”Gb2“></div>

        43
        <div id=”G2“></div>
        <div id=”Fds2“></div>
        <div id=”Adf2“></div>

        44
        <div id=”G#2“></div>
        <div id=”Ab2“></div>

        45
        <div id=”A2“></div>
        <div id=”Gds2“></div>
        <div id=”Bdf2“></div>

        46
        <div id=”A#2“></div>
        <div id=”Bb2“></div>

        47
        <div id=”B2“></div>
        <div id=”Ads2“></div>
        <div id=”Cb2“></div>

        48
        <div id=”C3"></div>
        <div id=”B#3“></div>
        <div id=”Ddf3“></div>


        49
        <div id=”C#3“></div>
        <div id=”Db“></div>

        50
        <div id=”D3“></div>
        <div id=”Cds3“></div>
        <div id=”Edf3“></div>

        51
        <div id=”D#3“></div>
        <div id=”Eb3“></div>
        52
        <div id=”E3“></div>
        <div id=”Dds3“></div>
        <div id=”Fb3“></div>

        53
        <div id=”F3“></div>
        <div id=”E#3“></div>
        <div id=”Gdf3“></div>

        54
        <div id=”F#3“></div>
        <div id=”Gb3“></div>

        55
        <div id=”G3“></div>
        <div id=”Fds3“></div>
        <div id=”Adf3“></div>

        56
        <div id=”G#3“></div>
        <div id=”Ab3“></div>

        57
        <div id=”A3“></div>
        <div id=”Gds3“></div>
        <div id=”Bdf3“></div>

        58
        <div id=”A#3“></div>
        <div id=”Bb3“></div>

        59
        <div id=”B3“></div>
        <div id=”Ads3“></div>
        <div id=”Cb3“></div>

        60
        <div id=”C4"></div>
        <div id=”B#4“></div>
        <div id=”Ddf4“></div>


        61
        <div id=”C#4“></div>
        <div id=”Db“></div>

        62
        <div id=”D4“></div>
        <div id=”Cds4“></div>
        <div id=”Edf4“></div>

        63
        <div id=”D#4“></div>
        <div id=”Eb4“></div>

        64
        <div id=”E4“></div>
        <div id=”Dds4“></div>
        <div id=”Fb4“></div>

        65
        <div id=”F4“></div>
        <div id=”E#4“></div>
        <div id=”Gdf4“></div>

        66
        <div id=”F#4“></div>
        <div id=”Gb4“></div>

        67
        <div id=”G4“></div>
        <div id=”Fds4“></div>
        <div id=”Adf4“></div>

        68
        <div id=”G#4“></div>
        <div id=”Ab4“></div>

        69
        <div id=”A4“></div>
        <div id=”Gds4“></div>
        <div id=”Bdf4“></div>

        70
        <div id=”A#4“></div>
        <div id=”Bb4“></div>

        71
        <div id=”B4“></div>
        <div id=”Ads4“></div>
        <div id=”Cb4“></div>

        72
        <div id=”C5"></div>
        <div id=”B#5“></div>
        <div id=”Ddf5“></div>


        73
        <div id=”C#5“></div>
        <div id=”Db“></div>

        74
        <div id=”D5“></div>
        <div id=”Cds5“></div>
        <div id=”Edf5“></div>

        75
        <div id=”D#5“></div>
        <div id=”Eb5“></div>

        76
        <div id=”E5“></div>
        <div id=”Dds5“></div>
        <div id=”Fb5“></div>

        77
        <div id=”F5“></div>
        <div id=”E#5“></div>
        <div id=”Gdf5“></div>

        78
        <div id=”F#5“></div>
        <div id=”Gb5“></div>

        79
        <div id=”G5“></div>
        <div id=”Fds5“></div>
        <div id=”Adf5“></div>

        80
        <div id=”G#5“></div>
        <div id=”Ab5“></div>

        81
        <div id=”A5“></div>
        <div id=”Gds5“></div>
        <div id=”Bdf5“></div>

        82
        <div id=”A#5“></div>
        <div id=”Bb5“></div>

        83
        <div id=”B5“></div>
        <div id=”Ads5“></div>
        <div id=”Cb5“></div>

        84
        <div id=”C6"></div>
        <div id=”B#6“></div>
        <div id=”Ddf6“></div>

        85
        <div id=”C#6“></div>
        <div id=”Db“></div>

        86
        <div id=”D6“></div>
        <div id=”Cds6“></div>
        <div id=”Edf6“></div>

        87
        <div id=”D#6“></div>
        <div id=”Eb6“></div>

        88
        <div id=”E6“></div>
        <div id=”Dds6“></div>
        <div id=”Fb6“></div>

        89
        <div id=”F6“></div>
        <div id=”E#6“></div>
        <div id=”Gdf6“></div>

        90
        <div id=”F#6“></div>
        <div id=”Gb6“></div>

        91
        <div id=”G6“></div>
        <div id=”Fds6“></div>
        <div id=”Adf6“></div>

        92
        <div id=”G#6“></div>
        <div id=”Ab6“></div>

        93
        <div id=”A6“></div>
        <div id=”Gds6“></div>
        <div id=”Bdf6“></div>

        94
        <div id=”A#6“></div>
        <div id=”Bb6“></div>

        95
        <div id=”B6“></div>
        <div id=”Ads6“></div>
        <div id=”Cb6“></div>

        96
        <div id=”C7"></div>
        <div id=”B#7“></div>
        <div id=”Ddf7“></div>


        97
        <div id=”C#7“></div>
        <div id=”Db“></div>

        98
        <div id=”D7“></div>
        <div id=”Cds7“></div>
        <div id=”Edf7“></div>

        99
        <div id=”D#7“></div>
        <div id=”Eb7“></div>

        100
        <div id=”E7“></div>
        <div id=”Dds7“></div>
        <div id=”Fb7“></div>

        101
        <div id=”F7“></div>
        <div id=”E#7“></div>
        <div id=”Gdf7“></div>

        102
        <div id=”F#7“></div>
        <div id=”Gb7“></div>

        103
        <div id=”G7“></div>
        <div id=”Fds7“></div>
        <div id=”Adf7“></div>

        104
        <div id=”G#7“></div>
        <div id=”Ab7“></div>

        105
        <div id=”A7“></div>
        <div id=”Gds7“></div>
        <div id=”Bdf7“></div>
        106
        <div id=”A#7“></div>
        <div id=”Bb7“></div>

        107
        <div id=”B7“></div>
        <div id=”Ads7“></div>
        <div id=”Cb7“></div>

        108
        <div id=”C8"></div>
        <div id=”B#8“></div>
-->