
#banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 70px;
    margin: 1%;
    /*padding: 5%;*/
}

#musilux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90px;
    margin: 1%;
    /*padding: 5%;*/
}
