/* formats the body tag */
body {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* formats the mainbox that contains all the other boxes */
#mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 100%;
}

/* formats the words "Welcome to*/
#banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 70px;
}

/* formats the word "Musilux */
#musilux {
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 0;
}

#musilux > li {
    margin: 0 3px;
}

/* formats the box that has both lights and piano*/
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 95%;
    height: 20%;
}

/* formats the box with the 88 lights for the lightshow*/
#lights {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50%;
    background-color: purple;
    border-radius: 15px 15px 0 0;
}

/* formats the box with the piano image in it */
#piano {
    display: flex;
    flex-direction: column;
    height: 50%;
}

/* puts a border around the piano image */
#piano > img {
    border: 1px solid #777;
    border-top: none;
}

/* formats the box with the song selections in it */
#songlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 100px;
}

#songselect {
    background-color: white;
}

/* formats the play button */
#play {
    font-size: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 60px;
    /*background: linear-gradient(to bottom,orange, white);*/
}

/* formats the three boxes containing information about the song chosen */
#choiceboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* formats the footer */
#bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90px;
    bottom: auto;
}
