
#banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 70px;
    margin: 1%;
}

#musilux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90px;
    margin: 1%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 95%;
    height: 20%;
}

#lights {
    display: flex;
    flex-direction: column;

    align-content: center;
    height: 50%;
    background-color: orange;
}

#piano {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#songlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 100px;
    margin-left: 44%;
}


#play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 50px;
    margin-left: 42%;
    margin-right: 42%;
}


#bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90px;
    margin: 1%;
}