/* formats the body tag */
body {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* formats the mainbox that contains all the other boxes */
#mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 100%;
}

/* formats the words "Welcome to*/
#banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 70px;
}

/* formats the word "Musilux */
#musilux {
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 0;
}

#musilux > li {
    margin: 0 3px;
}

/* formats the box that has both lights and piano*/
#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 95%;
    height: 20%;
}

/* formats the box with the 88 lights for the lightshow*/
#lights {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    height: 40%;
    border: 1px solid #777;
    border-bottom: none;
    /*border-radius: 15px 15px 0 0;*/
}

/* formats the black keys to have a black background */
#lights > .black {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 1.1363636%;
}

#lights > .white {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-right: 1px solid #777;
    width: 1.1363636%;
}

#sublights {
    display: flex;
    flex-direction: row;
    height: 60%;
}

#sublights > .whites {
    background-color: yellow;
    border-right: 1px solid #777;
    width: calc(1.1363636% * 1.58);
}

#sublights > .whites:nth-child(9),
#sublights > .whites:nth-child(16),
#sublights > .whites:nth-child(19),
#sublights > .whites:nth-child(23) {
    width: calc((1.1363636% * 1.58) + 2px);
}

#sublights > .doublewidth {
    background-color: yellow;
    border-right: 1px solid #777;
    width: calc(1.1363636% * 2);
}

/* formats the box with the piano image in it */
#piano {
    display: flex;
    flex-direction: column;
    height: 60%;
}

/* puts a border around the piano image */
#piano > img {
    border: 1px solid #777;
}

/* formats the box with the song selections in it */
#songlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 100px;
}

#songselect {
    background-color: white;
}

/* formats the play button */
#play {
    font-size: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 60px;
    /*background: linear-gradient(to bottom,orange, white);*/
}

/* formats the three boxes containing information about the song chosen */
#choiceboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* formats the information */
#choiceinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* formats the comments box */
#choicecomments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* formats the footer */
#bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90px;
    bottom: auto;
}

#keyboard {
    position: relative;
    height: 101px;
}

#keyboard.lightshow-top .black {
    height: 100px !important;
}
#keyboard.lightshow-top {
    /*border-bottom: 1px solid white;*/
}

.whitekey {
  background-color:white;
  border:none;
  display:inline-block;
  outline:1px solid black;
}
